# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (ne pas versionner les données brutes lourdes)
data/raw/*.csv
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# Figures générées
reports/figures/*.png
reports/figures/*.pdf
reports/figures/*.svg

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
